{% extends "FreelancerToolsCoreBundle::layout.guest.html.twig" %}
{% block title %}Login{% endblock %}

{% block sidebar %}  
{% endblock sidebar %} 
{% block body %}

    <div id="login-page">
        <div class="container">        
            <form id="login-form" class="form-signin" action="{{ path("fos_user_security_check") }}" role="form" method="post">
                
                <fieldset>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <div class="">
                            <input type="text" class="form-control" id="username" name="_username" required="required" value="{{ last_username }}" placeholder="Username">                        
                        </div>                    
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input placeholder="Password" type="password" id="csibio_userbundle_password" name="_password" required="required" class="input-md form-control">

                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="checkbox"><label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked"> Remember me on this computer
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock body %}
