<div class="box">
    <div class="title">
        New Client
    </div>
    <div class="content">

        <form name="newClientForm" class="form-horizontal" novalidate> 
            
            <div class="form-group" ng-class="{'has-error':newClientForm.name.$dirty && newClientForm.name.$invalid}">
                <label class="control-label col-lg-2" for="client_name">Client Name</label>
                <div class="col-lg-10">
                    <input id="client_name" name="name" ng-model="client.name" ng-change="update()" ng-blur="blurUpdate()" type="text" required="required" class="form-control"/>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':newClientForm.address.$dirty && newClientForm.address.$invalid}">
                <label class="control-label col-lg-2" for="client_address">Address</label>
                <div class="col-lg-10">
                    <textarea id="client_address" name="address" ng-model="client.address" ng-change="update()" ng-blur="blurUpdate()" type="text" required="required" class="form-control"></textarea>
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error':newClientForm.contact.$dirty && newClientForm.contact.$invalid}">
                <label class="control-label col-lg-2" for="client_contact">Contact Name</label>
                <div class="col-lg-10">
                    <input id="client_contact" name="contact" ng-model="client.contact" ng-change="update()" ng-blur="blurUpdate()" type="text" required="required" class="form-control"/>
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error': newClientForm.emailAddress.$dirty && newClientForm.emailAddress.$invalid}">
                <label class="control-label col-lg-2" for="emailAddress">Contact Email Address</label>
                <div class="col-lg-10">
                    <input id="emailAddress" name="emailAddress" ng-model="client.emailAddress" ng-change="update()" ng-blur="blurUpdate()" type="email" required="required" class="form-control"/>
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error':newClientForm.phone.$dirty && newClientForm.phone.$invalid}">
                <label class="control-label col-lg-2" for="client_phone">Phone Number</label>
                <div class="col-lg-10">
                    <input id="client_phone" name="phone" ng-model="client.phone" ng-change="update()" ng-blur="blurUpdate()" type="tel" class="form-control"/>
                </div>
            </div>

            <!--<form-field ng-repeat="(k,v) in newClient" record="newClient" field="{{k}}" live="false" required="true"></form-field>-->

            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10"> 
                        <button ng-disabled="newClientForm.$invalid" ng-click="save()" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-floppy-disk"> Save</span></button>                        
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


