<div class="box">
    <div class="title">
        <div class="clearfix">
            <div class="pull-left">
                Invoice {{vm.invoice.invoiceNumber}} 
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <button ng-click="vm.back()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> <span class="hidden-xs">Back to List</span></button>
                    <button ng-disabled="invoiceForm.$invalid" ng-click="vm.save()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-floppy-disk"> <span class="hidden-xs">Save</span></span></button>                     
                    <button ng-click="vm.sendEmail()" ng-disabled="!vm.invoice.id" title="Send Invoice to Customer" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
                    <div class="btn-group">
                        <button ng-disabled="!vm.invoice.id" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>                        
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-click="vm.addPayment()"><span class="glyphicon glyphicon glyphicon-usd"></span> Add Payment</a></li>
                            <li><a target="_blank" href="/invoices/pdf/{{vm.invoice.token}}"><span class="glyphicon glyphicon-print"></span> Download PDF</a></li>
                            <li><a target="_blank" href="/report/invoice/{{vm.invoice.id}}"><span class="glyphicon glyphicon-time"></span> View Time Log</a></li>                                
                            <li><a ng-click="vm.sendCustomEmail()"><span class="glyphicon glyphicon-envelope"></span> Send Email to Customer</a></li>
                            <li><a ng-click="vm.delete()"><span class="glyphicon glyphicon-trash"></span> Delete Invoice</a></li>
                        </ul>
                    </div>
                </div>
            </div>   
        </div>        
    </div>
    <div class="content clearfix">

        <form class="form-horizontal" name="invoiceForm" novalidate > 


            <div class="row">
                <div class="col-sm-4">

                    <div class="form-group">
                        <label class="control-label col-lg-2 required" for="client">Client</label>
                        <div class="col-lg-10">
                            <select ng-change="vm.checkUnbilledWork()" id="client" name="client" required="required" class="form-control" ng-model="vm.invoice.client" 
                                    ng-options="client as client.name for client in vm.clients track by client.id">                        
                            </select>
                        </div>
                    </div>    

                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label class="control-label col-lg-2 required" for="invoiceNumber">Invoice number</label>
                        <div class="col-lg-10">
                            <input type="text" id="invoiceNumber" name="invoiceNumber" ng-model="vm.invoice.invoiceNumber" required="required" class="form-control"/>
                        </div>
                    </div>                     

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="invoiceDate">Date</label>
                        <div class="col-lg-10">
                            <input data-date-picker="" data-format="YYYY-MM-DD" type="text" id="invoiceDate" name="invoiceDate" placeholder="mm/dd/yyyy" class="form-control" ng-model="vm.invoice.invoiceDate" />
                        </div>
                    </div>     
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="invoiceDueDate">Due Date</label>
                        <div class="col-lg-10">
                            <input data-date-picker="" data-format="YYYY-MM-DD" type="text" id="invoiceDueDate" name="invoiceDueDate" placeholder="mm/dd/yyyy" class="form-control" ng-model="vm.invoice.invoiceDueDate" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2 required" for="status">Status</label>
                        <div class="col-lg-10">
                            <select id="status" name="status" required="required" class="form-control" ng-model="vm.invoice.status">
                                <option value="1">Open</option>
                                <option value="2">Paid</option>
                                <option value="3">Cancelled</option>
                                <option value="4">Overdue</option>
                            </select>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label class="control-label col-lg-2 required" for="currency">Currency</label>
                        <div class="col-lg-10">
                            <select id="currency" name="currency" required="required" class="form-control" ng-model="vm.invoice.currency_id"
                                    ng-options="currency.id as currency.name for currency in vm.currencies">

                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="checkbox">
                                <label for="showTimelog">
                                    <input type="checkbox" id="showTimelog" name="showTimelog" value="1" ng-model="vm.invoice.showTimelog">
                                    Show timelog
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-more-tables">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                            <th>Tax Rate</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>                                
                        <tr ng-repeat="item in vm.invoice.items">
                            <td class="col-sm-3" data-title="Product">    
                                <input type="text" required="required" class="form-control" ng-model="item.product" />
                            </td>
                            <td class="col-sm-3" data-title="Description">    
                                <textarea expandable-textarea required="required" rows="1" class="form-control" ng-model="item.description"></textarea>
                            </td>
                            <td class="col-sm-1" data-title="Qty">    
                                <input type="text" class="form-control" ng-model="item.quantity" required="required">
                            </td>
                            <td class="col-sm-1" data-title="Price">                              
                                <input type="text" class="form-control" ng-model="item.price" required="required">
                            </td>
                            <td class="col-sm-1" data-title="Subtotal">{{(item.quantity * item.price) | currency:"$"}}</td>
                            <td data-title="Tax Rate">None</td>
                            <td data-title="Total">{{(item.quantity * item.price) | currency:"$"}}</td>
                            <td data-title="&nbsp;"><button ng-click="vm.deleteInvoiceItem(item)" class="btn btn-default btn-sm" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></td>
                        </tr>             
                    </tbody>
                </table> 
            </div>

            <div class="well">
                <button ng-click="vm.addInvoiceItem()" class="unstyled"><span class="glyphicon glyphicon-plus"></span> Add an Item</button><br/>
                <button ng-show="vm.unbilledProjects.length > 0" ng-click="vm.addUnbilledProjects()" class="unstyled"><span class="glyphicon glyphicon-plus"></span> {{vm.unbilledProjects.length}} unbilled project(s) available to add</button><br/>

            </div>

            <div class="clearfix">
                <div class="col-sm-4 col-md-offset-8" style="padding-right: 0px">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Subtotal</th>
                                <td>{{vm.invoice.getTotal() | currency:"$"}}</td>
                            </tr>
                            <tr>
                                <th>Taxes</th>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <th>Grand Total</th>
                                <td>{{vm.invoice.getTotal() | currency:"$"}}</td>
                            </tr>
                            <tr>
                                <th>Paid</th>
                                <td>{{vm.invoice.getPaid() | currency:"$"}}</td>
                            </tr>  
                            <tr>
                                <th>Balance Due</th>
                                <td>{{vm.invoice.getBalance() | currency:"$"}}</td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12" >
                <div class="form-group">
                    <label class="control-label" for="terms">Terms</label>
                    <textarea expandable-textarea id="terms" name="terms" rows="1" class="form-control" ng-model="vm.invoice.terms"></textarea>
                </div>
            </div>

            <div ng-show="vm.invoice.id">
                Guest URL: <a href="{{vm.invoice.getGuestURL()}}">{{vm.invoice.getGuestURL()}}</a>   
            </div>

        </form>
    </div>
</div>



