<div class="box">
    <div class="title">
        Edit Receipt
    </div>
    <div class="content clearfix">
        <div class="row>">
            <div class="col-sm-6">
                <a target="_blank" href="/files/{{modal.receipt.path}}">
                <img class="img-responsive" ng-src="/files/{{modal.receipt.path}}" />    
                </a>
            </div>
            <div class="col-sm-6">

                <form name="receiptForm" novalidate> 
                    <div class="form-group">
                        <label>Date</label>
                        <input data-date-picker="" data-format="YYYY-MM-DD"  name="date" ng-model="modal.receipt.date" type="text" required="required" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label>Merchant</label>
                        <input name="merchant" ng-model="modal.receipt.merchant" type="text" required="required" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label>Total</label>
                        <input ft-currency-int name="total" ng-model="modal.receipt.total" type="text" required="required" class="form-control"/>
                    </div>
                    
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea expandable-textarea name="notes" ng-model="modal.receipt.notes" type="text" class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="receiptForm.$invalid" ng-click="modal.ok()"><span class="glyphicon glyphicon-floppy-disk"> Save</span></button>
    <button class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>


