<div class="box">
    <div class="title">
        Timesheet        
    </div>
    <div class="content">

        <div class="pull-right">
            <button ng-click="create()" class="btn btn-default" title="New Customer"><span class="glyphicon glyphicon-plus"></span> New</button>
        </div>

        <input type="search" placeholder="Search" class="form-control" ng-model="queryFilter"/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th ng-click="sort('name')">
                        Project
                        <span ng-show="sort.field === 'name' && !sort.order" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sort.field === 'name' && sort.order" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th ng-click="sort('customer.name')">
                        Client
                        <span ng-show="sort.field === 'customer.name' && !sort.order" class="glyphicon glyphicon-chevron-down"></span>
                        <span ng-show="sort.field === 'customer.name' && sort.order" class="glyphicon glyphicon-chevron-up"></span>
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects| filter:queryFilter | orderBy: sort.field : sort.order">
                    <td>{{project.name}}</td>
                    <td>{{project.customer.name}}</td>
                    <td>
                        <div class="btn-group">
                            <button ng-click="show(project.id)" class="btn btn-default btn-sm" title="Timeslices"><span class="glyphicon glyphicon-time"></span></button>
                            <button ng-click="edit(project.id)" class="btn btn-default btn-sm" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>                 
                            <button ng-click="remove(project.id)" type="reset" class="btn btn-default btn-sm deleteButton" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


