<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GWSFreelancerTools</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}            
            {% stylesheets
                'css/bootstrap/bootstrap.css'
                'css/bootstrap/bootstrap_form_2.css'
                'css/datetimepicker.css'
                'css/app/core-styles.css'
                'css/app/tt-styles.css'
                filter='cssrewrite,lessphp' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>        

       