

{% javascripts 
                            'js/jquery.js'
                            'js/bootstrap.js'                            
                            'js/app/*'
                            'js/datetimepicker.js'
                             filter=''                            
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}  

</body>
</html>

